body {
    color: white;
    margin: 0;
}

#app-body {
    background-color: #57737A;
    width: 350px;
    height: 650px;
    margin: auto;
    margin-top: 100px;
    border-radius: 35px;
    padding: 10px;
}

.inner-sections {
    display: inline;
    background-color: #85BDBF;
}

input {
    width: 20px;
}

#gender-section {
    margin-bottom: 25%;
}



#male {
    text-align: center;
    padding: 75px 75px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

#male i {
    margin-top: 90px;
}

#female {
    text-align: center;
    padding: 75px 75px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

#female i {
    margin-top: 90px;
}

.height {
    height: 50px;
    margin-top: 45%;
}

.feet {
    width: 100%;
    text-align: center;
    padding: 75px 33px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 5px;
}

.inches {
    width: 100%;
    text-align: center;
    padding: 75px 33px;
    border-radius: 10px;
}

.lb-age {
    margin-top: 36%;
    width: 98%;
    margin-left: 5px;
}

.weigth {
    width: 100%;
    text-align: center;
    padding: 75px 30px;
    border-radius: 10px;
}

.age {
    width: 100%;
    text-align: center;
    padding: 75px 53px;
    border-radius: 10px;
    margin-left: 10px;
}

#calc {
    margin-top: 25%;
    margin-left: 2%;
    width: 96%;
    padding: 35px;
    border-radius: 10px;
    border: transparent;
    color: white;
}